# MacOS
.DS_Store

# VS Code
.vscode/

# IntelliJ
.idea/

# Build
Debug/
Release/

# User-specific files
*.user

# NuGet
*.cache
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.*
project.packagespec.json
*.project.**
